<html>

<head>
  <title>Aplication Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>


  <div style="text-align: center;">

    <h1 style="background-color: rgb(22, 13, 13);margin: 10px;;">
      <a href="/" class="navbar-brand" style="padding-left:4px;"> CONTACT APP</a>
      <a href="{% url 'account_logout' %}" class="nav-link ">Logout</a>
    </h1>



  </div>



  <!-- Toggle Button-->








  <br>
  <br>
  <div style="text-align: center;">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>


  <div class="container">

    <div style="text-align: center;">
      {% block content %}
      {% endblock %}
    </div>

  </div>
</body </html>