<html>

<head>
  <title>Aplication Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body style=" background-color: rgb(218, 215, 214);">


  <div style="text-align: center;background-color: rgb(22, 13, 13);margin: 10px;">

    <h1>
      <a href="/" class="navbar-brand" style="padding-left:4px;"> CONTACT APP</a>
    </h1>
    {% if user.is_authenticated  %}
    <a href="http://127.0.0.1:8000/accounts/logout/" class="nav-link ">Logout</a>
    {% endif %}
  </div>



  <!-- Toggle Button-->








  <br>
  <br>
  <div style="text-align: center;">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>


  <div class="container">

    <div style="text-align: center;">
      {% block content %}
      {% endblock %}
    </div>

  </div>
</body </html>